:root {
  --primary-color: hsl(300, 43%, 22%);
  --secondary-color: hsl(333, 80%, 67%);
  --tertiary-color: hsl(303, 10%, 53%);
  --quartenary-color: hsl(300, 24%, 96%);
  --quinary-color: hsl(0, 0%, 100%);
}
body {
  padding: 20px;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-card,
.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.paragraph {
  font-size: 14px;
  font-weight: 500;
  max-width: 320px;
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}
.star-card {
  width: 100%;
  max-width: 300px;
}
.star-content {
  background-image: url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg);
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 30%, 40%, 50%, 60%, 70%;
  background-color: var(--quartenary-color);
  padding: 10px 25px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

.start-text {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 05px;
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
}

.user-content {
  padding: 30px;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
}
.user-content img {
  border-radius: 50%;
  width: 40px;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-name {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  color: var(--quartenary-color);
}
.user-status {
  margin-top: 5px;
  font-weight: 400;
  color: var(--secondary-color);
}
.user-paragraph {
  margin-top: 30px;
  line-height: 20px;
  color: var(--quartenary-color);
  font-size: 12px;
}

@media screen and (min-width: 750px) {
  body {
    display: grid;
    justify-content: center;
    padding: 50px;
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;
    max-width: 1100px;
    column-gap: 80px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1.4fr;
  }
}
