:root {
  --primary-color: hsl(300, 43%, 22%);
  --secondary-color: hsl(333, 80%, 67%);
  --tertiary-color: hsl(303, 10%, 53%);
  --quartenary-color: hsl(300, 24%, 96%);
  --quinary-color: hsl(0, 0%, 100%);
}
body {
  padding: 20px;
  font-family: "Spartan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-card,
.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.paragraph {
  font-size: 14px;
  font-weight: 500;
  max-width: 320px;
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}
.star-card {
  width: 100%;
  max-width: 300px;
}
.star-content {
  background-image: url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg), url(images/icon-star.svg),
    url(images/icon-star.svg);
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 30%, 40%, 50%, 60%, 70%;
  background-color: var(--quartenary-color);
  padding: 10px 25px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

.start-text {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 05px;
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
}